@function px2rem($px){
	$rem: 62;
	@return ($px / $rem) + rem;
}

$font_p: #f49085;

@mixin textOver() {
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.swiper-container {
  color: #fff;
  .swiper-pagination{
    bottom: px2rem(15);
    .swiper-pagination-bullet{
      width: px2rem(12);
      height: px2rem(12);
      margin: 0 px2rem(11);
      display: inline-block;
      border-radius: 100%;
      background: #bebebe;
      opacity: 1;
    }
    .swiper-pagination-bullet-active{
      background:  #f49085;
    }
  }
} 

